In [1]:
import pandas as pd
import os
import requests

In [2]:
import tempfile

In [4]:
url = 'https://www.banrep.gov.co/sites/default/files/Serie_historica_ipvnbr.xlsx'

In [5]:
#Muchos request me bloque la direccion ip
response = requests.get(url)
print(response)
response.raise_for_status()

<Response [200]>

### Donwload function

In [4]:
path = r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\ipvn_predictor\data\raw'

In [5]:
filename = os.path.join(path, 'ipvn.xlsx')
with open(filename, 'wb') as file:
            file.write(response.content)

In [10]:
ruta = r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\ipvn_predictor\data\raw\Serie_historica_ipvnbr (2).xlsx'

### Function

In [6]:
excel_file =  response.content

In [7]:
df = pd.read_excel(excel_file,
                    engine='openpyxl',
                    sheet_name='Serie_IPVNBR',
                    header=2,
                    skiprows=2,
                    skipfooter=8
                    )

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_18236\2686647513.py:1: FutureWarning: Passing bytes to 'read_excel' is deprecated and will be removed in a future version. To read from a byte string, wrap it in a `BytesIO` object.
  df = pd.read_excel(excel_file,

In [8]:
df.head()

,Unnamed: 0,Bogotá,Alrededores de Bogotá4,Medellín,Cali,Agregado,Unnamed: 6,Bogotá.1,"Alrededores de Bogotá4,5",Medellín.1,Cali.1,Agregado6
0,2004-01-01,70.822347,77.485793,82.745082,78.583333,76.181847,NaN,80.763841,88.362650,93.876603,89.656405,86.780829
1,2004-02-01,71.583509,77.564782,82.108312,79.919206,76.448672,NaN,80.731498,87.477145,91.476975,90.402993,86.017821
2,2004-03-01,71.873342,78.056214,82.037061,81.662989,76.744760,NaN,80.232447,87.134408,90.903185,91.353097,85.553651
3,2004-04-01,72.310197,77.639297,83.303826,82.149931,77.590907,NaN,80.427434,86.354756,91.929603,91.543996,86.171395
4,2004-05-01,72.319742,77.681884,82.742025,83.128632,77.501588,NaN,80.046235,85.981258,91.089647,92.343716,85.722814